<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeapTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HeapTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftAlgorithm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A1B9A521F5BFAE3003B88A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A50179B1F680A1500E592AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A63D5D21F680F54008167BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A63D5DE1F68107D008167BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
